# Copyright (c) 2025 Alif Semiconductor
# SPDX-License-Identifier: Apache-2.0

config SOC_AE722F80F55D5LS_RTSS_HE
	select SOC_FAMILY_ENSEMBLE_RTSS

config SOC_AE722F80F55D5LS_RTSS_HP
	select SOC_FAMILY_ENSEMBLE_RTSS

config SOC_AE722F80F55D5LS_APSS
	select SOC_FAMILY_ENSEMBLE_APSS
